# Copier ce fichier en env/site-a.env sur le PC Site A, puis adapter les interfaces.
#
# Trouver les noms :
#   ip -br link
#   ip -br addr

SERVICES_IFACE=enp1s0
VOICE_IFACE=enp2s0

# Adresse que le client VPN peut résoudre/joindre AVANT d'être connecté.
# Recommandé avec pfSense : un nom qui pointe vers l'entrée VPN pfSense Site A.
OPENVPN_HOSTNAME=vpn.lafassonnade.lan
